* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {  
    margin: 16px;  
    font-size: 100%;   
    color: white;  
    height: 100%;  
    background: linear-gradient(150deg, rgb(2, 112, 103) 0%, rgb(63, 173, 236) 100%);  
    background-attachment: fixed;  
}  
    
.main-container {  
    display: flex;  
    flex-wrap: wrap;  
}  
    
.search {  
    width: 100%;  
    display: flex;
    align-items: center; 
    justify-content: center; 
}  

.search input {
    display: flex;
    padding-left: 1rem;
    height: 100%;
    border-radius: 20px;
    
}

.search button {
    height: 50px;
    
    border-radius: 20px;
}
    
.current-location-temperature {  
    width: 100%;  
    gap: 2rem;
    font-size: 36px;
    flex-direction: column;
    font-weight: 700;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}  

.current-location-temperature img {
    border-radius: 20px;
}

.current-stats {  
    width: 100%;  
    gap: 3rem;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}  
.col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-stats p {
    font-size: 13px;
    font-weight: 600;
    display: flex;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
    justify-content: center;
    align-items: center;
}
    
/* .weather-by-hour {  
    display: none;  
    width: 100%;  
    border: 3px solid blue;  
}  
    
.next-5-days {  
    width: 100%;  
    border: 3px solid yellow;  
} */
@media screen and (min-width: 1140px) {
    .main-container {
      width: 1120px;
      margin: 16px auto;
      font-size: 1.1em;
    }
    .search input {
        width: 50%;
    }
}